$primary: #1c7cd5;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$brand: #f12578;
$blue-dark: #0063a4;
$blue-main: #1f9bd6;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "brand": $brand,
    "blue-dark": $blue-dark,
    "blue-main": $blue-main,
  ),
  $theme-colors
);
